.aide__image{
    border-radius: 15px;
    position: absolute;
    left: 31%;
    img{
        border-radius: 15px;
        box-shadow: 9px 9px 9px rgb(184, 184, 206);
        margin-bottom: 100px;
        width: 90%;
    }
}